*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
.header-in-a{
    text-decoration: none;
    color: white;
}
.tugma {
    display: flex;
    align-items: center;
  width: 120px;
  justify-content: space-between;

}
.ko {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
.navbar {
    padding: 25px 25px;
    background-image:url('./div.elementor-background-overlay.png') ;
    background-color: rgb(23, 23, 23);
}
.container {
    max-width: 1420px;
    margin: 0 auto;
}
.orab-turuvchi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
li {
    margin-right: 40px;
    color: white;
}
.img {
    width: 20px;
    height: 20px;
    margin-right: 27px;
}
.img-one-in-header {
    width: 150px;
    height: 23px;

}
.imgs {
    display: flex;
    justify-content: space-evenly;
}
.img-container {
    max-width: 1920px;
    margin-bottom: 13px;

}
.fa-brands{   
    font-size: 20px;
}
.fa-bars{
    font-size: 22px;
}
.kotta-img{
    background-image: url('./csm_jasna___111__fa0f8baa06.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.snow{
    text-shadow: 3px 3px #FD661E;
    font-size: 130px;
    font-family: 'jost';
    color: white;
}
.adv{
    text-shadow: 2px 2px white;
    font-size: 90px;
    font-family: 'jost';
    color: #1E92FD;
    margin-top: -50px;
}
.addd{
    color: white;
    font-size: 16px;
    width: 553px;
    margin-top: 25px;
}
.des{
    color:black;
    font-size:16px ;

}
.all{
    color:#6E6E6E;
    font-size: 14px;
    margin-top: 5px;
}
.butto{
    background-color: #FD661E;
    width: 268px;
    height: 61px;
    border: none;
    color: white;
    border-radius: 10px;
}
.buton{
    display: flex;
    align-items: center;
    width: 577px;
    height: 101px;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: white;
}
.fa-location-dot{
    font-size:35px ;
}
.imglar{
    background-image: url('./slide-square.jpg.png');
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    width: 493px;
    height: 493px;
    margin-left: 90px;
}
.ku{
    width: 520px;
    position: absolute;
    bottom: 150px;
}
.h1{
    font-family: 'Reenie Beanie';
    color:#FD661E;
    font-size: 29px; 
}
.h1-plan{
    font-size: 50px;
    width: 641.26px;
    color: #181D4E;
    margin-top: 15px;
    margin-bottom: 15px;
}
.p{
    width: 640.56px;
    color: #6E6E6E;
    margin-bottom:25px ;
}
.but{
    width: 126.89px;
    height: 44px;
    border: none;
    background-color: #FD661E;
    color: white;
    border-radius: 5px;
}